:root {
  font-family: inter, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  max-width: 1400px;
  margin: auto;
  min-height: 100vh;
  position: relative;
}

/* Typography */

h1 {
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 2.5vw;
  background: purple;
}

/* drop-down menu */

.menu {
  position: relative;
}

.drop-menu {
  display: none;
  background: red;
  padding: 0.5rem 0.5rem 0.5rem 0;
  position: absolute;
  gap: 1rem;
  top: 20px;
}

.menu:hover .drop-menu {
  display: flex;
  flex-direction: column;
}

.drop-link {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* hero section */

.hero {
  background-color: rebeccapurple;
  height: 100vh;
}
