:root {
  font-family: inter, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  max-width: 1500px;
  margin: auto;
  min-height: 100vh;
  position: relative;
}

/* nav-bar */
.nav {
  z-index: 5;
}

/* Typography */

h1 {
  text-transform: uppercase;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 2.5vw;
  background: purple;
}

/* drop-down menu */

.menu {
  position: relative;
}

.drop-menu {
  display: none;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  position: absolute;
  gap: 1rem;
  background-color: black;
}

.menu:hover .drop-menu {
  display: flex;
  flex-direction: column;
}

.drop-link {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* hero section */

.hero {
  height: 100vh;
  background-image: url(../assets/img/hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 2.5vw;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #0000003d;
  z-index: 1;
}
