:root {
  font-family: inter, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  max-width: 1500px;
  margin: auto;
  min-height: 100vh;
  position: relative;
}

/* nav-bar */
.nav {
  z-index: 5;
}

/* Typography */

h1 {
  text-transform: uppercase;
}

li {
  list-style-type: none;
  padding: 0;
  text-transform: capitalize;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.25s ease;
}
li:hover {
  color: royalblue;
}
.icon {
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon:hover {
  color: royalblue;
  scale: 1.25;
}
/* drop-down menu */

.menu {
  position: relative;
  z-index: 2;
}

.drop-menu {
  display: none;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 5px;
  position: absolute;
  left: -35px;
  gap: 1rem;
  background-color: black;
}

.menu:hover .drop-menu {
  display: flex;
  flex-direction: column;
}

.drop-link {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* hero section */

.hero {
  height: 100vh;
  background-image: url(../assets/img/hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 2.5vw;
  z-index: 0;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #0000003d;
  z-index: 1;
}

/* nav bar */
.nav-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 2.5vw;
}

.ham {
  display: none;
}

/* .footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
} */

/* this is for the contact button */
.d-n {
  display: none;
}

@media (max-width: 768px) {
  .ham {
    display: block;
  }

  .display-none {
    display: none;
  }

  .d-n {
    display: block;
  }

  .display {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 60px;
    left: 0;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #1a1a1a;
  }
}
